.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#RP-main-content-textBox-text-flex{
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: middle;
}

#RP-main-content-textBox-text-flex-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
}

.RP-main-content-textBox-text-flex-item {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  color: #000;
  border-radius: 7px;
  background-color: #eee;
  transition: color 1s ease;
}

p{
    font-size: 10px;
}

.RP-main-content-textBox-text-flex-item:hover {
  transition: color 1s ease;
}

.square{
    display: block;
    width: 100px;
    height: 110px;
}

.lsquare{
    display: block;
    width: 85px;
    height: 110px;
}

.RP-main-content-textbox-text-flex-item-subtitle{
    line-height: 200%;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}

#html-box:hover{
    color: #F15931;
}

#css-box:hover{
    color: #007DC6;
}

#js-box:hover{
    color: #F58233;
}

#python-box:hover{
    color: var(--golden);
}

