<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="Rextech, Rex, Tech, Rey, Cotto, Porfolio">
    <meta name="description" content="">
    <meta name="author" content="Rey Cotto">
    <meta name="copyright" content="Rextech">
    <link rel="stylesheet" href="../static/base.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
    <script src="https://kit.fontawesome.com/a902953bc1.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-crown fa-2x icon"></i>
                    <span class="link-text">Crown</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-folder fa-2x icon"></i>
                    <span class="link-text">Cat</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-crown fa-2x icon"></i>
                    <span class="link-text">Dog</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-crown fa-2x icon"></i>
                    <span class="link-text">Dove</span>
                </a>
            </li>
        </ul>

    </nav>
        {% block body %}
        {% endblock %}
</body>
</html>